In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local") \
    .appName("Nome do Aplicativo") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

23/06/14 17:42:10 WARN Utils: Your hostname, big-linux resolves to a loopback address: 127.0.1.1; using 192.168.100.158 instead (on interface wlp2s0)
23/06/14 17:42:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/06/14 17:42:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
clientes = spark.read.parquet('/home/heliton/Documentos/repos/novo_aws_cloud_data_engineer_compass_uol/sprint_7/curso_spark/download/Atividades/Clientes.parquet')

In [3]:
clientes.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [33]:
from pyspark.sql.functions import upper, col
from pyspark.sql import functions

clientes.select('*', upper('Cliente').alias('Cliente maiuscula')).show()

+---------+--------------------+------+------+--------+--------------------+
|ClienteID|             Cliente|Estado|Genero|  Status|   Cliente maiuscula|
+---------+--------------------+------+------+--------+--------------------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|ADELINA BUENAVENTURA|
|        2|        Adelino Gago|    RJ|     M|  Silver|        ADELINO GAGO|
|        3|     Adolfo Patrício|    PE|     M|  Silver|     ADOLFO PATRÍCIO|
|        4|    Adriana Guedelha|    RO|     F|Platinum|    ADRIANA GUEDELHA|
|        5|       Adélio Lisboa|    SE|     M|  Silver|       ADÉLIO LISBOA|
|        6|       Adérito Bahía|    MA|     M|  Silver|       ADÉRITO BAHÍA|
|        7|       Aida Dorneles|    RN|     F|  Silver|       AIDA DORNELES|
|        8|   Alarico Quinterno|    AC|     M|  Silver|   ALARICO QUINTERNO|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|    ALBERTO CEZIMBRA|
|       10|    Alberto Monsanto|    RN|     M|    Gold|    ALBERTO MONSANTO|
|       11|       Albino Canela|    AC|     M|  Silver|       ALBINO CANELA|
|       12|     Alceste Varanda|    RR|     F|  Silver|     ALCESTE VARANDA|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|  ALCIDES CARVALHAIS|
|       14|        Aldo Martins|    GO|     M|  Silver|        ALDO MARTINS|
|       15|   Alexandra Tabares|    MG|     F|  Silver|   ALEXANDRA TABARES|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|      ALFREDO COTRIM|
|       17|     Almeno Figueira|    SC|     M|  Silver|     ALMENO FIGUEIRA|
|       18|      Alvito Peralta|    AM|     M|  Silver|      ALVITO PERALTA|
|       19|     Amadeu Martinho|    RN|     M|  Silver|     AMADEU MARTINHO|
|       20|      Amélia Estévez|    PE|     F|  Silver|      AMÉLIA ESTÉVEZ|
+---------+--------------------+------+------+--------+--------------------+
only showing top 20 rows

In [35]:
clientes.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [34]:
from pyspark.sql.functions import upper, col
from pyspark.sql import functions

clientes.withColumn('Cliente', upper('Cliente').alias('Cliente maiuscula')).show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|ADELINA BUENAVENTURA|    RJ|     M|  Silver|
|        2|        ADELINO GAGO|    RJ|     M|  Silver|
|        3|     ADOLFO PATRÍCIO|    PE|     M|  Silver|
|        4|    ADRIANA GUEDELHA|    RO|     F|Platinum|
|        5|       ADÉLIO LISBOA|    SE|     M|  Silver|
|        6|       ADÉRITO BAHÍA|    MA|     M|  Silver|
|        7|       AIDA DORNELES|    RN|     F|  Silver|
|        8|   ALARICO QUINTERNO|    AC|     M|  Silver|
|        9|    ALBERTO CEZIMBRA|    AM|     M|  Silver|
|       10|    ALBERTO MONSANTO|    RN|     M|    Gold|
|       11|       ALBINO CANELA|    AC|     M|  Silver|
|       12|     ALCESTE VARANDA|    RR|     F|  Silver|
|       13|  ALCIDES CARVALHAIS|    RO|     M|  Silver|
|       14|        ALDO MARTINS|    GO|     M|  Silver|
|       15|   ALEXANDRA TABARES|    MG|     F|  Silver|
|       16|      ALFREDO COTRIM|    SC|     M|  Silver|
|       17|     ALMENO FIGUEIRA|    SC|     M|  Silver|
|       18|      ALVITO PERALTA|    AM|     M|  Silver|
|       19|     AMADEU MARTINHO|    RN|     M|  Silver|
|       20|      AMÉLIA ESTÉVEZ|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [25]:
clientes.select(upper('Cliente')).show()

+--------------------+
|      upper(Cliente)|
+--------------------+
|ADELINA BUENAVENTURA|
|        ADELINO GAGO|
|     ADOLFO PATRÍCIO|
|    ADRIANA GUEDELHA|
|       ADÉLIO LISBOA|
|       ADÉRITO BAHÍA|
|       AIDA DORNELES|
|   ALARICO QUINTERNO|
|    ALBERTO CEZIMBRA|
|    ALBERTO MONSANTO|
|       ALBINO CANELA|
|     ALCESTE VARANDA|
|  ALCIDES CARVALHAIS|
|        ALDO MARTINS|
|   ALEXANDRA TABARES|
|      ALFREDO COTRIM|
|     ALMENO FIGUEIRA|
|      ALVITO PERALTA|
|     AMADEU MARTINHO|
|      AMÉLIA ESTÉVEZ|
+--------------------+
only showing top 20 rows

In [ ]:
clientes.show()

In [ ]:
vendedores = spark.read.parquet('/home/heliton/Documentos/repos/novo_aws_cloud_data_engineer_compass_uol/sprint_7/curso_spark/download/Atividades/Vendedores.parquet')

In [ ]:
vendedores.show()

In [ ]:
produtos = spark.read.parquet('/home/heliton/Documentos/repos/novo_aws_cloud_data_engineer_compass_uol/sprint_7/curso_spark/download/Atividades/Produtos.parquet')

In [ ]:
produtos.show()

In [ ]:
vendas = spark.read.parquet('/home/heliton/Documentos/repos/novo_aws_cloud_data_engineer_compass_uol/sprint_7/curso_spark/download/Atividades/Vendas.parquet')

In [ ]:
vendas.show()

In [ ]:
itens_venda = spark.read.parquet('/home/heliton/Documentos/repos/novo_aws_cloud_data_engineer_compass_uol/sprint_7/curso_spark/download/Atividades/ItensVendas.parquet')

In [ ]:
itens_venda.show()

## 1.Crie uma consulta que mostre nome, estado e status

In [ ]:
clientes.show()

In [ ]:
clientes.select('Cliente', 'Estado', 'Status').show()

## 2. Crie uma consulta que mostre apenas os clientes do Status "platinum" e "gold"

In [ ]:
clientes.show()

In [ ]:
from pyspark.sql.functions import *

In [ ]:
clientes.select('Cliente', 'Status').filter((col('Status') == 'Platinum') | (col('Status') == 'Gold')).show()

## 3. Demonstre quanto cada Status de Clientes representa em vendas

In [ ]:
clientes.show(5)

In [ ]:
vendas.show(5)

In [ ]:
vendas.join(clientes, vendas.ClienteID == clientes.ClienteID).groupBy(clientes.Status).agg(sum(vendas.Total)).orderBy(sum(vendas.Total).desc()).show()