In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local") \
    .appName("Nome do Aplicativo") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [ ]:
df_spark = spark.read.csv('/home/heliton/Documentos/repos/novo_aws_cloud_data_engineer_compass_uol/sprint_7/aws/nomes.csv', \
                    header=True, inferSchema=True)

In [ ]:
df_spark.show()

In [ ]:
# Schema
df_spark.schema

In [ ]:
# coluna nome maiúscula
from pyspark.sql.functions import *
from pyspark.sql import functions as F

df_spark.withColumn('nome', upper('nome').alias('Nome Maiuscula')).show()

In [ ]:
# Quantidade de registros
df_spark.count()

In [ ]:
# Imprimir a contagem de nomes, agrupando os dados do dataframe pelas colunas ano e sexo
# Ordene os dados de modo que o ano mais recente apareça como primeiro registro do dataframe

df_spark.groupBy('ano', 'sexo').agg(count('nome').alias('contagem')).orderBy(col('ano').desc()).show()

In [ ]:
# Apresentar qual foi o nome feminino com mais registros e em que ano ocorreu
from pyspark.sql.functions import *

df_spark.filter(df_spark.sexo == 'F') \
  .groupBy('ano', 'nome') \
  .agg(sum('total').alias('quantidade')) \
  .orderBy(col('quantidade').desc()) \
  .limit(1) \
  .show()

In [ ]:
# Apresentar qual foi o nome masculino com mais registros e em que ano ocorreu.
from pyspark.sql.functions import *

df_spark.filter(df_spark.sexo == 'M') \
  .groupBy('ano', 'nome') \
  .agg(sum('total').alias('quantidade')) \
  .orderBy(col('quantidade').desc()) \
  .limit(1) \
  .show()

In [ ]:
# Apresentar o total de registros (masculinos e femininos) para cada ano presente no dataframe.
# Considere apenas as primeiras 10 linhas, ordenadas pelo ano, de forma crescente.
from pyspark.sql.functions import *

df_spark.groupBy("ano", "sexo") \
  .agg(sum("total").alias("total")) \
  .orderBy("ano") \
  .limit(10) \
  .show()

In [ ]:
dfUpper = df_spark.withColumn('nome', upper('nome').alias('Nome Maiuscula'))

In [ ]:
dfUpper.show()